name = "reference-architecture-ai"
compatibility_date = "2024-01-01"
pages_build_output_dir = "public"

[site]
bucket = "./public"

[build]
command = "zola build"

[build.environment]
ZOLA_VERSION = "0.17.2"

[[rules]]
type = "Text"
fallthrough = true

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"