    .cssClass > rect{
        fill:#FF0000;
        stroke:#FFFF00;
        stroke-width:4px;
    }

    .cluster rect {
        fill:#FF0000;
        stroke: #aa3333;
        stroke-width: 4px;
    }